#container{
    border: solid 1px;
    padding-left: 250px;
    padding-top: 190px;
    margin: 70px;
    line-height: 40px;
    margin-left: 350px;
    border-radius: 5px;
    background-color:rgb(255, 207, 112);
    height: 700px;
    width: 750px;
    
}
#image{
   
    padding-left: 10px;
    margin-left: 130px;
}
#container input{
    border: double 1px blue;
    height: 50px;
    border-radius: 6px;
    width: 500px;
}
.button{
    color:white;
    background-color: black;
    border-radius: 9px;
    width: 300px;
    height: 40px;
   /* margin-left: 100px; */
}
.button a{
    text-decoration: none;
    color: white;
}

#google{
    padding-left: 190px;
}
@media only screen and (max-width: 768px){
    #container{
        border: solid 1px;
        padding-left: 0px;
        padding-top: 0px;
        margin: 0px;
        line-height: 30px;
        margin-left: 0px;
        border-radius: 5px;
        background-color:rgb(255, 207, 112);
        height: 700px;
        width: 270px;
    }
    #image{
   
        padding-left: 10px;
        margin-left: 0px;
    }
    #container input{
        border: double 1px blue;
        height: 50px;
        border-radius: 6px;
        width: 200px;
    }
    .button{
        color:white;
        background-color: black;
        border-radius: 9px;
        width: 180px;
        height: 40px;
    }
    #google{
        padding-left: 90px;
    }
}
